html {    
    font-family: Montserrat, sans-serif;
}
body {
    font-family: Montserrat, sans-serif;
}

body, .body-bg {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-section {
  flex:1;
}

a{
    text-decoration:none;
}

.navbar + a + .carousel-fullscreen,
.navbar + a + a + .carousel-fullscreen,
.navbar + .typo3-feedit-element > a + .carousel-fullscreen,
.navbar + .typo3-feedit-element > a + a + .carousel-fullscreen,
.navbar + .main-section > a + .carousel-fullscreen,
.navbar + .main-section > a + a + .carousel-fullscreen,
.navbar + .main-section > .typo3-feedit-element > a + .carousel-fullscreen,
.navbar + .main-section > .typo3-feedit-element > a + a + .carousel-fullscreen,
.navbar + a + .carousel-fullscreen .carousel-item,
.navbar + a + a + .carousel-fullscreen .carousel-item,
.navbar + .typo3-feedit-element > a + .carousel-fullscreen .carousel-item,
.navbar + .typo3-feedit-element > a + a + .carousel-fullscreen .carousel-item,
.navbar + .main-section > a + .carousel-fullscreen .carousel-item,
.navbar + .main-section > a + a + .carousel-fullscreen .carousel-item,
.navbar + .main-section > .typo3-feedit-element > a + .carousel-fullscreen .carousel-item,
.navbar + .main-section > .typo3-feedit-element > a + a + .carousel-fullscreen .carousel-item {
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:400;
}

h2 {
    font-size:1.5rem;    
}

.card-group-element-item .card-title {
    font-size: 1rem;
}

.image {
    display: block;
    height: auto:
    max-width:100%;
    margin: 0 auto;
}

#p1 li a {
    color:#fff;
}

#p1 .icon-bar {
    background-color:#fff;
}

#c1 {
    padding-top:0;
}

p {
    font-size:.95em;
    font-weight:300;
    text-align: justify;
}

.gallery-item {
    position: relative;
    float: none;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

/*************************/
/****** NAVIGATION *******/
/*************************/

.navbar {
    font-family: Montserrat, sans-serif;
    letter-spacing:3px;
    font-weight:500;
}

@media (min-width: 992px) {
.navbar-brand-image > img {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    max-height: 32%;
    width: auto;
}
}

#p1 .navbar {
  position: absolute;
  margin:0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(231, 240, 242, 0.3);
  opacity:1;
  border:none;
}

#p1 .navbar-brand-logo-normal {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(/typo3conf/ext/serendipitypic/Resources/Public/Images/LOGO_white.png) no-repeat;
  width: 250px;
  height: 60px;
  padding-left: 250px;
}

/****** END OF NAVIGATION ******/

/**********************/
/** BREADCRUMB MENU  **/
/**********************/

#p6 .breadcrumb {
    display:none;
}

.breadcrumb-section {
    background-color: transparent;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
}

/** END OF BREADCRUMB MENU  **/


/**********************/
/**       FORM       **/
/**********************/

#p5 form {
    margin-top:2em;
}

form h2 {
    font-size:1.2rem;
    margin-bottom:-1rem;
}

form p:last-child {
    font-size:1em;
    text-align:right;
    padding-top:0.5rem;
}

label {
    font-weight:500;
    font-size:.9rem;
}

/**   END OF FORM   **/


/*************************/
/******** LIGHTBOX *******/
/*************************/


button.pswp__button.pswp__button--share {
    display:none;
}

.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
 background-color:#000;
}

.pswp__top-bar, .pswp__caption {
  background-color: #000;
  opacity:1;
}

/****** END OF LIGHTBOX ******/

/***************************/
/********** FOOTER *********/
/***************************/

.footer-section-meta,
.footer-section-meta a,
.footer-section-meta a:visited,
.footer-section-meta a:hover,
.footer-section-meta a:focus {
    color:#ffffff!important;
    text-decoration:none!important;
}

footer .frame {
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer-section-meta .frame {
    padding-top:0;
    padding-bottom: 1em;
    background: #333;
}

.sociallinks-link-icon {
    color:#ffffff;
}

/****** END OF FOOTER ******/
